#
# Touchscreen driver configuration
#


config UDC_TP
	bool "UDC TP CORE"
	depends on UDC
	default n
	help
	  Say Y here if you  want to use udc tp support .
	  
	  If unsure, say N.
	
config USE_TP_PSENSOR
	bool "USE_TP_PSENSOR"
	depends on UDC_TP
	default n
	help
	  Say Y here if you  want to use udc tp_psensor support .
	  
	  If unsure, say N.	


